@charset "utf-8";

html, body, div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
blockquote, p, address, pre, cite,
form, fieldset, input, textarea, select,
table, th, td{
	margin:0;
	padding:0;
}


/* Removing Borders */
fieldset, img, abbr, acronym{border:0 none;}

/* quotes */
blockquote:before, blockquote:after, q:before, q:after{ content:"";}
blockquote,q{quotes:"" "";}









